<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="body">
<h1 class="heading">THIS IS THE ABOUT US PAGE</h1>
<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Ab aliquam culpa excepturi magnam modi nesciunt nostrum sit voluptas.
    Aliquam aliquid delectus dolor expedita facere hic pariatur praesentium quae qui,
    saepe?</p>

</body>
</html>